*
!.gitignore

!suckless/
!suckless/**

!clouds/
!clouds/**

!.wallpapers/
!.wallpapers/**

!.xinitrc
!.zshrc

!.config/
!.config/picom.conf
!.config/nvim/
!.config/nvim/**
!.config/zsh/
!.config/zsh/**
