*
!.gitignore

!gitclones/
!gitclones/**

!clouds/
!clouds/**

!.wallpapers/
!.wallpapers/**

!.xinitrc
!.zshrc

!.config/
!.config/picom/
!.config/picom/**
!.config/nvim/
!.config/nvim/**
!.config/zsh/
!.config/zsh/**
