/* ~/.config/wofi/style.css */

window {
    margin: 0px;
    border: 3px solid #bd93f9;
    border-radius: 20px;
    background-color: #282a36;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

#input {
    margin: 10px;
    padding: 10px;
    border: 2px solid #6272a4;
    border-radius: 5px;
    color: #f8f8f2;
    background-color: #44475a;
}

#inner-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
}

#entry {
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

#entry:selected {
    background-color: #44475a;
    border: 1px solid #bd93f9;
}

#img {
    margin: 5px;
    border: none;
    background-color: transparent;
}
